:root {
  /* (sub-heading at the top of the app UI) */
  --paleViolet: hsl(276, 100%, 81%);
  /* (chat on the left) */
  --moderateViolet: hsl(276, 55%, 52%);
  /* (chat on the right) */
  --desaturedDarkViolet: hsl(271, 15%, 43%);
  /* (placeholder text) */
  --greyishBlue: hsl(206, 6%, 79%);
  /* (main heading) */
  --veryDarkDesaturedViolet: hsl(271, 36%, 24%);
  /* (paragraph) */
  --darkGreyishViolet: hsl(270, 7%, 64%);
  /* (app background) */
  --lightGreyishViolet: hsl(270, 20%, 96%);
  /* (submit button background) */
  --veryDarkViolet: hsl(271, 36%, 24%);
  /* (radio button outline) */
  --veryLightMagente: hsl(289, 100%, 72%);
  --white: hsl(0, 0%, 100%);
}

/* Gradients */
/* - Light Magenta: hsl(293, 100%, 63%)
- Light Violet: hsl(264, 100%, 61%) */

/* - Mobile: 375px
- Desktop: 1440px */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--lightGreyishViolet);
  display: grid;
  align-content: center;
  justify-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0 16rem;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

/* Background "Images" */
.container::before {
  background: linear-gradient(to top, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  border-radius: 0 0 20rem 20rem;
  content: "";
  position: absolute;
  top: 0;
  left: -5rem;
  width: 510px;
  height: 710px;
  z-index: -1;
}

.container::after {
  background: hsl(270, 58%, 95%);
  border-radius: 20rem 20rem 0 0;
  content: "";
  position: absolute;
  bottom: 0;
  right: -10rem;
  width: 510px;
  height: 700px;
  z-index: -1;
}

/* Mobile Structure */
.mobile-device {
  display: flex;
  flex-direction: column;
  border: 0.5rem solid var(--white);
  background: #f7f5f7;
  border-radius: 1.5rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 245px;
  height: 500px;
}

.mobile-notch {
  align-self: center;
  background: var(--white);
  border-radius: 0 0 1rem 1rem;
  position: absolute;
  width: 130px;
  height: 20px;
  z-index: 2;
}

/* Top Section */
.avatar-section {
  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 2rem 0.75rem 0.75rem;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.avatar-section i {
  color: var(--white);
  font-size: 10px;
}

.avatar-section img {
  border: 1px solid var(--white);
  border-radius: 50%;
  width: 25px;
}

.avatar-name {
  padding-right: 4rem;
}

.avatar-name .name {
  color: var(--white);
  font-size: 12px;
  padding-bottom: 2.5px;
}

.avatar-name .status {
  color: var(--paleViolet);
  font-size: 8px;
}
/* Chat Section */
.chat {
  /* background: #f7f5f7; */
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 1.5;
  padding: 0.5rem 0.5rem;
  font-size: 8px;
  height: 100%;
}

/* Left Side */
.message1,
.message2,
.message6 {
  background: #ede6f1;
  border-radius: 0.75rem 0.75rem 0.75rem 0.25rem;
  color: var(--moderateViolet);
  padding: 0.5rem 0.5rem 0.4rem;
  width: 130px;
}

.message6 {
  margin-top: 0.5rem;
  padding-right: 0.8rem;
  height: 50px;
}

.message7,
.message8 {
  background: linear-gradient(
    to left,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-radius: 0.75rem 0.75rem 0.75rem 0.25rem;
  color: var(--white);
  padding: 0.5rem;
}

/* Right Side */
.message3,
.message4,
.message5 {
  align-self: flex-end;
}

.message3 {
  margin-top: 0.5rem;
}

.message3 img {
  border-radius: 0.5rem;
  margin-left: 5px;
  width: 40px;
}

.message4,
.message5 {
  background: var(--white);
  color: var(--desaturedDarkViolet);
  border-radius: 0.75rem 0.75rem 0.25rem 0.75rem;
  padding: 0.5rem 0.5rem 0.4rem;
}

.message4 {
  width: 130px;
}

/* Attribution */
.attribution {
  margin: 2rem 0;
  color: black;
  font-size: 11px;
}

.attribution a {
  color: black;
  text-decoration: none;
}

.attribution a:hover {
  cursor: pointer;
  color: grey;
}

/* @media only screen (min-width: 1440px) {
} */
