:root {
  /* (sub-heading at the top of the app UI) */
  --paleViolet: hsl(276, 100%, 81%);
  /* (chat on the left) */
  --moderateViolet: hsl(276, 55%, 52%);
  /* (chat on the right) */
  --desaturedDarkViolet: hsl(271, 15%, 43%);
  /* (placeholder text) */
  --greyishBlue: hsl(206, 6%, 79%);
  /* (main heading) */
  --veryDarkDesaturedViolet: hsl(271, 36%, 24%);
  /* (paragraph) */
  --darkGreyishViolet: hsl(270, 7%, 64%);
  /* (app background) */
  --lightGreyishViolet: hsl(270, 20%, 96%);
  /* (submit button background) */
  --veryDarkViolet: hsl(271, 36%, 24%);
  /* (radio button outline) */
  --veryLightMagente: hsl(289, 100%, 72%);
  --white: hsl(0, 0%, 100%);
}

/* Gradients */
/* - Light Magenta: hsl(293, 100%, 63%)
- Light Violet: hsl(264, 100%, 61%) */

/* - Mobile: 375px
- Desktop: 1440px */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  display: grid;
  align-content: center;
  justify-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0 16rem;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

/* Background "Images" */
.container::before {
  background: linear-gradient(to top, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  border-radius: 0 0 20rem 20rem;
  content: "";
  position: absolute;
  top: 0;
  left: -5rem;
  width: 500px;
  height: 750px;
  z-index: -1;
}

.container::after {
  background: #f7f5f9;
  border-radius: 20rem 20rem 0 0;
  content: "";
  position: absolute;
  bottom: 0;
  right: -10rem;
  width: 510px;
  height: 750px;
  z-index: -1;
}

.mobile {
}

/* Mobile Structure */
.mobile-device {
  display: flex;
  flex-direction: column;
  border: 0.5rem solid #fff;
  background: #f7f5f7;
  border-radius: 1.5rem;
  box-shadow: 15px 15px 30px rgb(0 0 0 / 8%), -10px -5px 20px rgb(0 0 0 / 5%);
  width: 245px;
  height: 500px;
}

.mobile-notch {
  align-self: center;
  background: var(--white);
  border-radius: 0 0 1rem 1rem;
  position: absolute;
  width: 130px;
  height: 20px;
  z-index: 2;
}

/* Top Section */
.avatar-section {
  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  display: flex;
  padding: 2rem 0.75rem 0.75rem;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.avatar-section i {
  color: var(--white);
  font-size: 10px;
}

.avatar-section img {
  border: 1px solid var(--white);
  border-radius: 50%;
  width: 25px;
}

.avatar-name {
  padding-right: 4rem;
}

.avatar-name .name {
  color: var(--white);
  font-size: 12px;
  padding-bottom: 2.5px;
}

.avatar-name .status {
  color: var(--paleViolet);
  font-size: 8px;
}
/* Chat Section */
.chat {
  /* background: #f7f5f7; */
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 1.4;
  padding: 0.5rem 0.5rem;
  font-size: 8px;
  height: 100%;
}

/* Left Side */
.message1,
.message2,
.message6 {
  background: #ede6f1;
  border-radius: 0.75rem 0.75rem 0.75rem 0.25rem;
  color: var(--moderateViolet);
  padding: 0.45rem 0.55rem;
  width: 130px;
}

.message6 {
  margin-top: 0.3rem;
  padding-right: 0.8rem;
  height: 50px;
}

.message7,
.message8 {
  background: linear-gradient(
    to left,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-radius: 0.75rem 0.75rem 0.75rem 0.25rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.45rem 1rem 0.45rem 0.55rem;
  width: 160px;
}

.message7 .time,
.message8 .time {
  color: #ede6f1;
  display: flex;
  align-items: center;
}

.message7 .time i,
.message8 .time i {
  color: #ede6f1;
  font-size: 12px;
  margin-right: 0.5rem;
}

.message7 .price,
.message8 .price {
  font-size: 12px;
  font-weight: 500;
}

/* Right Side */
.message3,
.message4,
.message5 {
  align-self: flex-end;
}

.message3 {
  margin-top: 0.3rem;
}

.message3 img {
  border-radius: 0.5rem;
  margin-left: 8px;
  width: 40px;
}

.message4,
.message5 {
  background: var(--white);
  color: var(--desaturedDarkViolet);
  border-radius: 0.75rem 0.75rem 0.25rem 0.75rem;
  padding: 0.45rem 0.55rem;
}

.message4 {
  width: 130px;
}

/* Type Message Section */
input[type="text"] {
  background: var(--white);
  border: none;
  border-radius: 2rem;
  font-size: 8px;
  padding: 12px 0;
  width: 212px;
  text-indent: 1rem;
  margin-top: 0.3rem;
}

input[type="text"]::placeholder {
  color: hsl(270, 7%, 75%);
}

.message i {
  font-size: 20px;
  color: var(--veryDarkViolet);
  position: relative;
  bottom: 1.6rem;
  left: 188px;
}

/* Chat Animations */
@keyframes popIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.2, 0.6, 0.3, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.25, 0.25, 0.25);
  }
  20% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    transform: scale3d(1.02, 1.02, 1.02);
  }
  80% {
    transform: scale3d(0.95, 0.95, 0.95);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes popSlideLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.2, 0.6, 0.3, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  60% {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  75% {
    opacity: 1;
    transform: translate3d(10px, 0, 0);
  }
  90% {
    opacity: 1;
    transform: translate3d(-5px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.pop1 {
  animation: popIn 1s;
}

.pop2 {
  opacity: 0;
  animation: popIn 1s 1.5s forwards;
}

.pop3 {
  opacity: 0;
  animation: popIn 1s 4.5s forwards;
}

.pop4 {
  opacity: 0;
  animation: popIn 1s 6s forwards;
}

.pop5 {
  opacity: 0;
  animation: popIn 1s 7.5s forwards;
}

.pop6 {
  opacity: 0;
  animation: popIn 1s 10s forwards;
}

.pop7 {
  opacity: 0;
  animation: popSlideLeft 2s 10.5s forwards;
}

.pop8 {
  opacity: 0;
  animation: popSlideLeft 2s 11.5s forwards;
}
/* Info Section */
.heading {
  color: var(--veryDarkDesaturedViolet);
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.info-text {
  color: var(--darkGreyishViolet);
  line-height: 1.8;
  padding-right: 1rem;
}

/* Attribution */
.attribution {
  color: var(--darkGreyishViolet);
  font-size: 10px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
}

.attribution a {
  color: var(--darkGreyishViolet);
  text-decoration: none;
}

.attribution a:hover {
  cursor: pointer;
  color: var(--moderateViolet);
}

/* @media only screen (min-width: 1440px) {
} */

@media only screen and (max-width: 500px) {
  body {
    display: grid;
    align-content: center;
    justify-items: center;
    font-size: 14px;
    padding: 0 1rem;
    height: 100vh;
  }

  .container {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 20rem;
    gap: 4rem;
  }

  /* Background "Images" */
  .container::before {
    top: -15rem;
    left: -20rem;
    width: 500px;
    height: 740px;
    z-index: -1;
  }

  .container::after {
    width: 0;
    height: 0;
  }

  /* Info Section */
  .info {
    text-align: center;
  }

  .heading {
    font-size: 35px;
    margin-bottom: 1.5rem;
  }

  .info-text {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
  }

  /* Attribution */
  .attribution {
    color: var(--darkGreyishViolet);
    position: relative;
    top: 4rem;
    bottom: 0;
    left: 0;
    padding-bottom: 2rem;
    transform: translate(0);
  }
}
